body {
    background-image: url("background.jpg");
  }

.back {
    width: 150px;
    height: 90px;
    margin: auto;
}

.back img {
    width: 100%;
    margin: auto;
}

.draw {
    width: 150px;
    margin: auto;
    transition: transform 4s;
}

.draw:hover {
    transform: translate(0px, 600px);
}

.draw img {
    width: 100%;
    margin: auto;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.drawn {
    width: 150px;
    margin: auto;
    animation-duration: 1s;
    position: fixed;
    bottom: 300;
    right: 565;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.drawn:hover {
    animation-name: fade;
}

.drawn img {
    width: 100%;
    margin: auto;
}

/* .card1 {
    width: 150px;
    margin: auto;
    position: fixed;
    bottom: 300;
    right: 750px;
}

.card1:hover {
    animation-name: fade;
}

.card1 img {
    width: 100%;
    margin: auto;
} */

.flip-card1 {
    /* background-color: transparent; */
    margin: auto;
    position: fixed;
    bottom: 440px;
    right: 750px;
    width: 150px;
    height: 90px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 150px;
    height: 90px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card1:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 150px;
    height: 90px;
    backface-visibility: hidden;
  }
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
  }

  /* .flip-card2 {
    margin: auto;
    position: fixed;
    bottom: 440px;
    right: 750px;
    width: 150px;
    height: 90px;
    perspective: 1000px;
  } */