body {
    background-image: url("background.jpg");
    font-family: sans-serif;
    color: white;
    font-size: 25px
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .portrait {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  h1 {
    text-align: center;
    font-size: 70px;
  }

  h5 {
    font-size: 45px;
    page-break-inside: avoid;
    page-break-after: avoid;
  }

  span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:13%;
    font-size: 30px
  }

  a {
    color: white;
  }

  th {
    color: blue;
  }

  tr:nth-child(even) {
    background-color: black;
  }

  tr:nth-child(odd) {
    background-color: gray;
  }

  table {
    width: 50%;
  }