body {
    background-color: #060CE9;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.container {
    display: grid;
    padding: 50px;
    grid: repeat(6, 15%) / auto-flow;
    height: 100vh;
  }
  
.row {
    display: grid;
    grid: repeat(1, 100%) / auto-flow;
    /* border: 5px solid black; */
}
  
.row > .square {
    background: #060CE9;
    border: 5px solid black;
    text-align: center;
    color: yellow;
    font-size: 3em;
    /* size: 20%; */
}
  
/* @media (orientation: portrait) {
    
    .container {
      transform: rotate(90deg) translate(35%);
    }
    
    .row > .square {
      transform: rotate(-90deg);
    }
} */