body {
    background-color: #060CE9;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.logo {
    position: fixed;
    height: 99%;
    width: 99%;
    text-align: center;
}

.container {
    display: grid;
    padding: 50px;
    grid: repeat(6, 15%) / auto-flow;
    height: 100vh;
  }
  
.row {
    display: grid;
    grid: repeat(1, 100%) / auto-flow;
}
  
.row > .square {
    background: #060CE9;
    border: 5px solid black;
    text-align: center;
    color: yellow;
    /*font-size: 3em;*/
}

img:hover {
    opacity: 0.9;
}

.category {
    font-size: .5em;
    padding: 5%;
}